# Condtitional Operator

In [1]:
temp=int(input("Enter Temperature in Celcious:"))
if temp>0 and temp<=25:
    print(f'the weather is cold and the temperature is {temp} degree celcious')
elif temp>25 and temp <=35:
    print(f'the weather is moderate and the temperature is {temp} degree celcious')
elif temp>35:
    print(f'the weather is hot and the temperature is {temp} degree celcious')
else:
    print('Invalid Input')

the weather is cold and the temperature is 12 degree celcious

# LOOPs

In [2]:
# for loop 
limit=int(input("Enter the limit:"))
for i in range(limit):
    print(f'The current value is {i}')

The current value is 0
The current value is 1
The current value is 2
The current value is 3
The current value is 4
The current value is 5
The current value is 6
The current value is 7
The current value is 8
The current value is 9
The current value is 10
The current value is 11

In [3]:
limit=int(input("Enter the limit:"))
for i in range(0,limit,2):
    print(f'The current value is {i}')

The current value is 0
The current value is 2
The current value is 4
The current value is 6
The current value is 8
The current value is 10
The current value is 12
The current value is 14
The current value is 16
The current value is 18
The current value is 20
The current value is 22
The current value is 24
The current value is 26
The current value is 28
The current value is 30
The current value is 32

In [4]:
# While Loop
limit=int(input("Enter the Value of Limit:"))
i=0
while i<=limit:
    print('Current Value is: ',i)
    i+=1

Current Value is:  0
Current Value is:  1
Current Value is:  2
Current Value is:  3
Current Value is:  4
Current Value is:  5
Current Value is:  6
Current Value is:  7
Current Value is:  8
Current Value is:  9
Current Value is:  10
Current Value is:  11
Current Value is:  12
Current Value is:  13
Current Value is:  14
Current Value is:  15
Current Value is:  16
Current Value is:  17
Current Value is:  18
Current Value is:  19
Current Value is:  20
Current Value is:  21
Current Value is:  22
Current Value is:  23
Current Value is:  24
Current Value is:  25
Current Value is:  26
Current Value is:  27
Current Value is:  28
Current Value is:  29
Current Value is:  30
Current Value is:  31
Current Value is:  32
Current Value is:  33
Current Value is:  34
Current Value is:  35
Current Value is:  36
Current Value is:  37
Current Value is:  38
Current Value is:  39
Current Value is:  40
Current Value is:  41
Current Value is:  42
Current Value is:  43
Current Value is:  44
Current Value is:  45
Current Value is:  46
Current Value is:  47
Current Value is:  48
Current Value is:  49
Current Value is:  50
Current Value is:  51
Current Value is:  52
Current Value is:  53
Current Value is:  54
Current Value is:  55

In [5]:
i=0
while i<=10:
    print('Current Value is: ',i)
    if i==7:
        break
    i+=1

Current Value is:  0
Current Value is:  1
Current Value is:  2
Current Value is:  3
Current Value is:  4
Current Value is:  5
Current Value is:  6
Current Value is:  7

In [6]:
i=0
while i<=20:
    i+=1
    if i%2==0:
        continue
    print ('Current value is ',i)

Current value is  1
Current value is  3
Current value is  5
Current value is  7
Current value is  9
Current value is  11
Current value is  13
Current value is  15
Current value is  17
Current value is  19
Current value is  21

In [7]:
# Use of pass 
for i in range(1,20,1):
    if i%2==0:
        print('inside pass value ',i)
        pass
    print(i)

1
inside pass value  2
2
3
inside pass value  4
4
5
inside pass value  6
6
7
inside pass value  8
8
9
inside pass value  10
10
11
inside pass value  12
12
13
inside pass value  14
14
15
inside pass value  16
16
17
inside pass value  18
18
19

In [8]:
# List Operations
my_lst=list()

In [9]:
type(my_lst)

list

In [10]:
my_lst=['masum','billah','mohua',1,2,3,4,6.7]

In [11]:
my_lst

['masum', 'billah', 'mohua', 1, 2, 3, 4, 6.7]

In [12]:
my_lst.append('new item')

In [13]:
my_lst

['masum', 'billah', 'mohua', 1, 2, 3, 4, 6.7, 'new item']

In [14]:
my_lst.insert(2,'inserted item')

In [15]:
my_lst

['masum', 'billah', 'inserted item', 'mohua', 1, 2, 3, 4, 6.7, 'new item']

In [16]:
my_lst.pop(2)
my_lst

['masum', 'billah', 'mohua', 1, 2, 3, 4, 6.7, 'new item']

In [17]:
len(my_lst)

9

In [18]:
my_lst.count(3)

1

In [19]:
my_lst.index(1)

3

In [20]:
lst=[1,2,3,4,5,6,7,8,9,10]
for item in lst:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [21]:
for index,item in enumerate(lst):
    print(f'index is {index} and item is {item}')

index is 0 and item is 1
index is 1 and item is 2
index is 2 and item is 3
index is 3 and item is 4
index is 4 and item is 5
index is 5 and item is 6
index is 6 and item is 7
index is 7 and item is 8
index is 8 and item is 9
index is 9 and item is 10

In [22]:
lst.sort()

In [23]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
lst.reverse()

In [25]:
lst

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
# list comprensioon
c_lst=[i for i in range(1,10,2)]
c_lst

[1, 3, 5, 7, 9]

In [27]:
even_lst=[x for x in range(1,20) if x%2==0]
even_lst

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [28]:
new_lst=[i**2 for i in range(21) if i%2!=0]
new_lst

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [29]:
# nested list comprension
list_1=[1,2,3,4,5]
lst_2=['a','b','c','d','e']

llst=[[i,j] for i in list_1 for j in lst_2]
llst

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [1, 'e'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [2, 'e'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [3, 'e'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd'],
 [4, 'e'],
 [5, 'a'],
 [5, 'b'],
 [5, 'c'],
 [5, 'd'],
 [5, 'e']]

# Dictionsriesm

In [30]:
my_dict=dict()
type(my_dict)

dict

In [31]:
students={
    'name':'Masum',
    'age':20,
    'id':11
}
students

{'name': 'Masum', 'age': 20, 'id': 11}

In [32]:
students['age']

20

In [33]:
# modify value 
students['id']=222

In [34]:
students

{'name': 'Masum', 'age': 20, 'id': 222}

In [35]:
# aDD VALUE 
students['grade']='A+'
students

{'name': 'Masum', 'age': 20, 'id': 222, 'grade': 'A+'}

In [36]:
# deleting value
del students['id']
students

{'name': 'Masum', 'age': 20, 'grade': 'A+'}

In [37]:
for key in students.keys():
    print(key)

name
age
grade

In [38]:
for item in students.items():
    print(item)

('name', 'Masum')
('age', 20)
('grade', 'A+')

In [39]:
# Comprenhension
c_dict={x:x**2 for x in range(20) if x%2==0}

In [40]:
c_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

In [41]:
#Tuple Operations
my_tuple=tuple()
type(my_tuple)

tuple

In [42]:
my_tuple=(1,2,3,4,5,'masum','billah')
my_tuple

(1, 2, 3, 4, 5, 'masum', 'billah')

In [43]:
my_tuple[0]

1

In [44]:
count=my_tuple.count(3)
count

1

In [45]:
for item in my_tuple:
    print(item)

1
2
3
4
5
masum
billah

# Sets

In [46]:
my_set=set()
type(my_set)

set

In [47]:
my_set={1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

In [49]:
my_set.add(7)

In [50]:
my_set

{1, 2, 3, 4, 5, 7}

In [53]:
my_set.remove(4)

In [54]:
my_set

{1, 2, 3, 5, 7}

In [55]:
remove= my_set.pop()
remove

1

In [56]:
my_set.clear()

In [57]:
my_set

set()

# Function

In [58]:
def even_or_odd(num):
    if num%2==0:
        return "This is a Even number"
    else:
        return "this is a odd number"

In [59]:
even_or_odd(13)

'this is a odd number'

In [60]:
def print_hello():
    print("Hello World")

In [61]:
print_hello()

Hello World

In [62]:
# multiple opretation usimg function
def mul_and_sum(num1,num2):
    return f"Multiplication value is{num1*num2}",f"Sum value is {num1+num2}"

In [63]:
mul_and_sum(12,24)

('Multiplication value is288', 'Sum value is 36')

In [64]:
# Default parameter
def userName(name='Guest'):
    return f"Username is {name}"

In [65]:
userName('MAsum')

'Username is MAsum'

In [67]:
# Postional Argument
def print_value(*values):
    for value in values:
        print(f"Value is {value}")

In [68]:
print_value(1,2,3,46,7,89,4,'masum','mohua')

Value is 1
Value is 2
Value is 3
Value is 46
Value is 7
Value is 89
Value is 4
Value is masum
Value is mohua

In [69]:
# Keyword Argument
def print_item(**info):
    for key,value in info.items():
        print(f"{key}: {value}")

In [ ]:
print_item(name="Masum",age=24,city="Dhaka")

name: Masum
age: 24
city: Dhaka

: