# Condtitional Operator

In [1]:
temp=int(input("Enter Temperature in Celcious:"))
if temp>0 and temp<=25:
    print(f'the weather is cold and the temperature is {temp} degree celcious')
elif temp>25 and temp <=35:
    print(f'the weather is moderate and the temperature is {temp} degree celcious')
elif temp>35:
    print(f'the weather is hot and the temperature is {temp} degree celcious')
else:
    print('Invalid Input')

KeyboardInterrupt: Interrupted by user

# LOOPs

In [ ]:
# for loop 
limit=int(input("Enter the limit:"))
for i in range(limit):
    print(f'The current value is {i}')

The current value is 0
The current value is 1
The current value is 2
The current value is 3
The current value is 4
The current value is 5
The current value is 6
The current value is 7
The current value is 8
The current value is 9
The current value is 10
The current value is 11

In [ ]:
limit=int(input("Enter the limit:"))
for i in range(0,limit,2):
    print(f'The current value is {i}')

The current value is 0
The current value is 2
The current value is 4
The current value is 6
The current value is 8
The current value is 10
The current value is 12
The current value is 14
The current value is 16
The current value is 18
The current value is 20
The current value is 22
The current value is 24
The current value is 26
The current value is 28
The current value is 30
The current value is 32

In [ ]:
# While Loop
limit=int(input("Enter the Value of Limit:"))
i=0
while i<=limit:
    print('Current Value is: ',i)
    i+=1

Current Value is:  0
Current Value is:  1
Current Value is:  2
Current Value is:  3
Current Value is:  4
Current Value is:  5
Current Value is:  6
Current Value is:  7
Current Value is:  8
Current Value is:  9
Current Value is:  10
Current Value is:  11
Current Value is:  12
Current Value is:  13
Current Value is:  14
Current Value is:  15
Current Value is:  16
Current Value is:  17
Current Value is:  18
Current Value is:  19
Current Value is:  20
Current Value is:  21
Current Value is:  22
Current Value is:  23
Current Value is:  24
Current Value is:  25
Current Value is:  26
Current Value is:  27
Current Value is:  28
Current Value is:  29
Current Value is:  30
Current Value is:  31
Current Value is:  32
Current Value is:  33
Current Value is:  34
Current Value is:  35
Current Value is:  36
Current Value is:  37
Current Value is:  38
Current Value is:  39
Current Value is:  40
Current Value is:  41
Current Value is:  42
Current Value is:  43
Current Value is:  44
Current Value is:  45
Current Value is:  46
Current Value is:  47
Current Value is:  48
Current Value is:  49
Current Value is:  50
Current Value is:  51
Current Value is:  52
Current Value is:  53
Current Value is:  54
Current Value is:  55

In [ ]:
i=0
while i<=10:
    print('Current Value is: ',i)
    if i==7:
        break
    i+=1

Current Value is:  0
Current Value is:  1
Current Value is:  2
Current Value is:  3
Current Value is:  4
Current Value is:  5
Current Value is:  6
Current Value is:  7

In [ ]:
i=0
while i<=20:
    i+=1
    if i%2==0:
        continue
    print ('Current value is ',i)

Current value is  1
Current value is  3
Current value is  5
Current value is  7
Current value is  9
Current value is  11
Current value is  13
Current value is  15
Current value is  17
Current value is  19
Current value is  21

In [ ]:
# Use of pass 
for i in range(1,20,1):
    if i%2==0:
        print('inside pass value ',i)
        pass
    print(i)

1
inside pass value  2
2
3
inside pass value  4
4
5
inside pass value  6
6
7
inside pass value  8
8
9
inside pass value  10
10
11
inside pass value  12
12
13
inside pass value  14
14
15
inside pass value  16
16
17
inside pass value  18
18
19

In [ ]:
# List Operations
my_lst=list()

In [ ]:
type(my_lst)

list

In [ ]:
my_lst=['masum','billah','mohua',1,2,3,4,6.7]

In [ ]:
my_lst

['masum', 'billah', 'mohua', 1, 2, 3, 4, 6.7]

In [ ]:
my_lst.append('new item')

In [ ]:
my_lst

['masum', 'billah', 'mohua', 1, 2, 3, 4, 6.7, 'new item']

In [ ]:
my_lst.insert(2,'inserted item')

In [ ]:
my_lst

['masum', 'billah', 'inserted item', 'mohua', 1, 2, 3, 4, 6.7, 'new item']

In [ ]:
my_lst.pop(2)
my_lst

['masum', 'billah', 'mohua', 1, 2, 3, 4, 6.7, 'new item']

In [ ]:
len(my_lst)

9

In [ ]:
my_lst.count(3)

1

In [ ]:
my_lst.index(1)

3

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
for item in lst:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for index,item in enumerate(lst):
    print(f'index is {index} and item is {item}')

index is 0 and item is 1
index is 1 and item is 2
index is 2 and item is 3
index is 3 and item is 4
index is 4 and item is 5
index is 5 and item is 6
index is 6 and item is 7
index is 7 and item is 8
index is 8 and item is 9
index is 9 and item is 10

In [ ]:
lst.sort()

In [ ]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lst.reverse()

In [ ]:
lst

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# list comprensioon
c_lst=[i for i in range(1,10,2)]
c_lst

[1, 3, 5, 7, 9]

In [ ]:
even_lst=[x for x in range(1,20) if x%2==0]
even_lst

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
new_lst=[i**2 for i in range(21) if i%2!=0]
new_lst

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
# nested list comprension
list_1=[1,2,3,4,5]
lst_2=['a','b','c','d','e']

llst=[[i,j] for i in list_1 for j in lst_2]
llst

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [1, 'e'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [2, 'e'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [3, 'e'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd'],
 [4, 'e'],
 [5, 'a'],
 [5, 'b'],
 [5, 'c'],
 [5, 'd'],
 [5, 'e']]

# Dictionsriesm

In [ ]:
my_dict=dict()
type(my_dict)

dict

In [ ]:
students={
    'name':'Masum',
    'age':20,
    'id':11
}
students

{'name': 'Masum', 'age': 20, 'id': 11}

In [ ]:
students['age']

20

In [ ]:
# modify value 
students['id']=222

In [ ]:
students

{'name': 'Masum', 'age': 20, 'id': 222}

In [ ]:
# aDD VALUE 
students['grade']='A+'
students

{'name': 'Masum', 'age': 20, 'id': 222, 'grade': 'A+'}

In [ ]:
# deleting value
del students['id']
students

{'name': 'Masum', 'age': 20, 'grade': 'A+'}

In [ ]:
for key in students.keys():
    print(key)

name
age
grade

In [ ]:
for item in students.items():
    print(item)

('name', 'Masum')
('age', 20)
('grade', 'A+')

In [ ]:
# Comprenhension
c_dict={x:x**2 for x in range(20) if x%2==0}

In [ ]:
c_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

In [ ]:
#Tuple Operations
my_tuple=tuple()
type(my_tuple)

tuple

In [ ]:
my_tuple=(1,2,3,4,5,'masum','billah')
my_tuple

(1, 2, 3, 4, 5, 'masum', 'billah')

In [ ]:
my_tuple[0]

1

In [ ]:
count=my_tuple.count(3)
count

1

In [ ]:
for item in my_tuple:
    print(item)

1
2
3
4
5
masum
billah

# Sets

In [ ]:
my_set=set()
type(my_set)

set

In [ ]:
my_set={1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

In [ ]:
my_set.add(7)

In [ ]:
my_set

{1, 2, 3, 4, 5, 7}

In [ ]:
my_set.remove(4)

In [ ]:
my_set

{1, 2, 3, 5, 7}

In [ ]:
remove= my_set.pop()
remove

1

In [ ]:
my_set.clear()

In [ ]:
my_set

set()

# Function

In [ ]:
def even_or_odd(num):
    if num%2==0:
        return "This is a Even number"
    else:
        return "this is a odd number"

In [ ]:
even_or_odd(13)

'this is a odd number'

In [ ]:
def print_hello():
    print("Hello World")

In [ ]:
print_hello()

Hello World

In [ ]:
# multiple opretation usimg function
def mul_and_sum(num1,num2):
    return f"Multiplication value is{num1*num2}",f"Sum value is {num1+num2}"

In [ ]:
mul_and_sum(12,24)

('Multiplication value is288', 'Sum value is 36')

In [ ]:
# Default parameter
def userName(name='Guest'):
    return f"Username is {name}"

In [ ]:
userName('MAsum')

'Username is MAsum'

In [ ]:
# Postional Argument
def print_value(*values):
    for value in values:
        print(f"Value is {value}")

In [ ]:
print_value(1,2,3,46,7,89,4,'masum','mohua')

Value is 1
Value is 2
Value is 3
Value is 46
Value is 7
Value is 89
Value is 4
Value is masum
Value is mohua

In [ ]:
# Keyword Argument
def print_item(**info):
    for key,value in info.items():
        print(f"{key}: {value}")

In [ ]:
print_item(name="Masum",age=24,city="Dhaka")

name: Masum
age: 24
city: Dhaka

:

In [ ]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\masum\.conda\envs\ml_learn_env\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\masum\.conda\envs\ml_learn_env\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\masum\.conda\envs\ml_learn_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\masum\.conda\envs\ml_learn_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\masum\.conda\envs\ml_learn_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\masum\.conda\envs\ml_learn_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("sales_data.csv")

In [6]:
df.head()

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [11]:
pd.__version__

'2.3.3'

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    240 non-null    int64
 1   Date              240 non-null    object
 2   Product Category  240 non-null    object
 3   Product Name      240 non-null    object
 4   Units Sold        240 non-null    int64
 5   Unit Price        240 non-null    float64
 6   Total Revenue     240 non-null    float64
 7   Region            240 non-null    object
 8   Payment Method    240 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 17.0+ KB

In [15]:
df.describe

<bound method NDFrame.describe of      Transaction ID        Date Product Category  \
0             10001  2024-01-01      Electronics
1             10002  2024-01-02  Home Appliances
2             10003  2024-01-03         Clothing
3             10004  2024-01-04            Books
4             10005  2024-01-05  Beauty Products
..              ...         ...              ...
235           10236  2024-08-23  Home Appliances
236           10237  2024-08-24         Clothing
237           10238  2024-08-25            Books
238           10239  2024-08-26  Beauty Products
239           10240  2024-08-27           Sports

                                        Product Name  Units Sold  Unit Price  \
0                                      iPhone 14 Pro           2      999.99
1                                   Dyson V11 Vacuum           1      499.99
2                                   Levi's 501 Jeans           3       69.99
3                                  The Da Vinci Code           4       15.99
4                            Neutrogena Skincare Set           1       89.99
..                                               ...         ...         ...
235  Nespresso Vertuo Next Coffee and Espresso Maker           1      159.99
236                        Nike Air Force 1 Sneakers           3       90.00
237           The Handmaid's Tale by Margaret Atwood           3       10.99
238             Sunday Riley Luna Sleeping Night Oil           1       55.00
239                       Yeti Rambler 20 oz Tumbler           2       29.99

     Total Revenue         Region Payment Method
0          1999.98  North America    Credit Card
1           499.99         Europe         PayPal
2           209.97           Asia     Debit Card
3            63.96  North America    Credit Card
4            89.99         Europe         PayPal
..             ...            ...            ...
235         159.99         Europe         PayPal
236         270.00           Asia     Debit Card
237          32.97  North America    Credit Card
238          55.00         Europe         PayPal
239          59.98           Asia    Credit Card

[240 rows x 9 columns]>