# Second Practice of python

In [1]:
# Conditional statement in python
mark=int(input('ENter your mark: '))

if mark>0 and mark<40:
    print('You are Fail')
elif mark>=40 and mark<80:
    print('Pass but not A+')
elif mark>=80 and mark<=100:
    print("Pass with A+")
else:
    print('Invalid Input')

Pass but not A+

# For Loop in Python

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range (10,19,3):
    print(f'Value is: {i}')

Value is: 10
Value is: 13
Value is: 16

In [5]:
name='Masum Billah'
for char in name:
    print(f'Character is {char}')

Character is M
Character is a
Character is s
Character is u
Character is m
Character is
Character is B
Character is i
Character is l
Character is l
Character is a
Character is h

# while Loop

In [6]:
i=0
while i<=10:
    print('Value is ', i)
    i+=1

Value is  0
Value is  1
Value is  2
Value is  3
Value is  4
Value is  5
Value is  6
Value is  7
Value is  8
Value is  9
Value is  10

In [8]:
# break statement
i=1
while i<=10:
    print('Value is', i)
    if i==7:
        break
    i+=1

Value is 1
Value is 2
Value is 3
Value is 4
Value is 5
Value is 6
Value is 7

In [14]:
# Continue Statement 
i=1
while i<=20:
    i+=1
    if i%2==0:
        continue
    print(i)

3
5
7
9
11
13
15
17
19
21

In [ ]:
# pass statement
i =0
while i<=10:
    i+=1
    print(i)
    if i==3:
        print('inside pass')
        pass

1
2
3
inside pass
4
5
6
7
8
9
10
11

# List in Python

In [21]:
lst=list()
type(lst)

list

In [22]:
lst=[1,2,3,4,5,6,7,8,9,99]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 99]

In [23]:
lst[1]

2

In [24]:
lst.append(12)

In [25]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 99, 12]

In [26]:
lst.insert(5,16)

In [27]:
lst

[1, 2, 3, 4, 5, 16, 6, 7, 8, 9, 99, 12]

In [28]:
lst.pop()

12

In [29]:
lst

[1, 2, 3, 4, 5, 16, 6, 7, 8, 9, 99]

In [30]:
lst.remove(16)

In [31]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 99]

In [32]:
lst.index(4)

3

In [33]:
lst.count(8)

1

In [35]:
lst.sort()

In [36]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 99]

In [37]:
lst.reverse()

In [38]:
lst

[99, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
lst.extend([14,66,88])
lst

[99, 9, 8, 7, 6, 5, 4, 3, 2, 1, 14, 66, 88]

In [45]:
lst.clear()

In [46]:
lst

[]

In [48]:
# list comprehension
lst1=[i**2 for i in range(21) if i%2==0]

In [49]:
lst1

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [51]:
# Nested List Comprehension
l1=[1,2,3]
l2=['a','b','c']
n_list=[[i,j] for i in l1 for j in l2]
n_list

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c']]

In [61]:
lst=[1,2,3,4,5,6,7,8,9,99]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
99

In [62]:
for index,value in enumerate(lst):
    print(f'Index is {index} and value is {value}')

Index is 0 and value is 1
Index is 1 and value is 2
Index is 2 and value is 3
Index is 3 and value is 4
Index is 4 and value is 5
Index is 5 and value is 6
Index is 6 and value is 7
Index is 7 and value is 8
Index is 8 and value is 9
Index is 9 and value is 99

#  Dictionaries

In [63]:
dic=dict()
type(dic)

dict

In [64]:
dic={
    'name': 'Masum',
    'age':24,
    'id':1
}
dic

{'name': 'Masum', 'age': 24, 'id': 1}

In [65]:
dic['age']

24

In [66]:
dic['id']=2333
dic

{'name': 'Masum', 'age': 24, 'id': 2333}

In [67]:
# add values
dic['grade']='A+'

In [68]:
dic

{'name': 'Masum', 'age': 24, 'id': 2333, 'grade': 'A+'}

In [69]:
# Delating value from dictonaries
del dic['id']
dic

{'name': 'Masum', 'age': 24, 'grade': 'A+'}

In [70]:
for key in dic.keys():
    print('Key is :',key)

Key is : name
Key is : age
Key is : grade

In [71]:
for value in dic.values():
    print('Value is :',value)

Value is : Masum
Value is : 24
Value is : A+

In [72]:
for key,value in dic.items():
    print(f"Key is {key} & value is {value}")

Key is name & value is Masum
Key is age & value is 24
Key is grade & value is A+

In [75]:
# Dict Comprehension
dict_1={x:x**2 for x in range(21) if x%2==0}
dict_1

{0: 0,
 2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400}

In [76]:
# touple
tup=tuple()
type(tup)

tuple

In [77]:
tup=(1,2,3,4)

In [78]:
tup

(1, 2, 3, 4)

In [79]:
tup[2]

3

In [81]:
tup.count(4)

1

In [82]:
tup.index(2)

1

# Sets

In [83]:
set_1=set()
type(set_1)

set

In [84]:
set_1={1,2,3,4,7,8}

In [85]:
set_1

{1, 2, 3, 4, 7, 8}

In [87]:
set_1.add(2)

In [88]:
set_1

{1, 2, 3, 4, 7, 8}

In [89]:
set_1.add(88)

In [90]:
set_1

{1, 2, 3, 4, 7, 8, 88}

In [91]:
set_1.pop()

1

In [92]:
set_1

{2, 3, 4, 7, 8, 88}

In [93]:
set_2={1,2,3,4,5,2,5}

In [94]:
set_2

{1, 2, 3, 4, 5}

In [100]:
set_1.intersection(set_2)

{2, 3, 4}

In [101]:
set_1

{2, 3, 4, 7, 8, 88}

In [103]:
set_1.union(set_2)

{1, 2, 3, 4, 5, 7, 8, 88}

In [104]:
set_1.intersection_update(set_2)

In [105]:
set_1

{2, 3, 4}